body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

button {
    padding: 15px 30px;
    font-size 1.5em;
    color: white;
    background-color: #444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button::before{

}

button:hover::before {

}

button.glow {

}
