body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

button {

}

button:hover {

}

.recipe {

}
