body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {

}

.recipe {

}
